.header {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 12px;
    margin-top: 60px;
}

.game {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #555;
}

h3 {
    font-size: 1.2em;
    color: #777;
}

p {
    font-size: 1.2em;
    color: #333;
}

.header img {
    border-radius: 12px;
}
