{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'app.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/post-details.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/forms.css' %}" />
    <link rel="stylesheet" href="{% static 'blog/reviews.css' %}" />
{% endblock %}

{% block content %}

{% if comment_form.errors %}
<div id="alert">
    <h2>Something went wrong</h2>
    <p>Please check the following errors below.</p>
    <a href="#comment-form">Fix!</a>

</div>
{% endif %}

    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in tags %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" />
            <address>By <a href="mailto:{{ post.author.email_address }}">{{post.author}}</a></address>
            <div>
                Last Updated on <time>{{ post.date|date:"d M Y"}}</time>
            </div>
        </article>
    </section>

 
    <main>

            {{ post.content|linebreaks }}

    </main>

    <section class="comments">
        <ul>
            {% for comment in comments %}
                <li>
                    <h3>{{ comment.user_name }}</h3>
                    <p>{{ comment.text|linebreaks }}</p>
                    <p>{{ comment.date }}</p>
                    <p>Rating: {{ comment.rating }} stars</p>
                </li>
            {% endfor %}

        </ul>
    </section>


    <section >
        <h2 id="comments">Your Comment:</h2> 
        <form id="comment-form" action="{% url 'post-detail-page' post.slug %}" method="POST">
            {% csrf_token %}
            {% for form_field in comment_form %}
            <div class="form-control {% if form_field.errors %} invalid {% endif %}">
                {{ form_field.label_tag }}
                {{ form_field }}
                {{ form_field.errors}}
            </div>
            {% endfor %}
            <button>Submit</button>
        </form>
    </section>

{% comment %} 
    {% for review in review_card reversed %}
        <div class="review-card">
            <h3>{{ review.user_name }}</h3>
            <p>{{ review.review_text }}</p>
            <p>{{ review.date }}</p>
            <p>Rating: {{ review.rating }} stars</p>
        </div>
    {% endfor %}

    <form method="post" action="{% url 'post-detail-page' post.slug %}">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-control {% if field.errors %}errors{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button>Submit</button>
    </form> {% endcomment %}

{% endblock %}

